
 <div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <input type="text"
                        ngModel
                        name="username"
                        id="userName"
                        placeholder="Enter your username"
                        class="form-control mb-3"
                        >
            
                        <input type="password"
                        ngModel
                        name="password"
                        id="userPassword"
                        placeholder="Enter your password"
                        class="form-control mb-3"
                        >
            
                        <input type="submit"
                        value="Login"
                        class="btn btn-outline-primary form-control rounded-0">
                    </form>
                <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                            name="email" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control mt-3"
                            formControlName="password" name="password" />
                    </div>
                    <input type="submit" class="btn btn-info w-100 mt-3" value="Login" name="">
                </form> -->
             
            </div>
            <div class="card-footer text-right">
                <a routerLink="../register">Register</a>
            </div>
         
        </div>
    </div>
</div>